@* Search Box *@
<div class="container">
    <form action="/Articles/Index" method="post">
    <div class="input-group mb-3 mt-3">
        <input type="text" name="searchTerm" placeholder="Enter text to search articles" class="form-control"/>
        <input type="submit" name="btnSearch" value="Search" class="btn btn-info" />
    </div>
    </form>
</div>
