@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Knowledge Hub Portal</h1>
        <p class="lead">Knowledge Hub is a knowledge sharing platform.</p>
        @Html.Partial("_SearchArticlesPartial")
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">User</h2>
            <ul>
                <li>
                    Can Submit a URL
                </li>
            </ul>
            <p>Before becoming a user he is a guest and after registration he can submit a URL</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Admin</h2>
            <ul>
                <li>Can create category</li>
                <li>Can list categories</li>
                <li>Can list users     </li>
                <li>Can Approve URLs   </li>
            </ul>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Actions Possible</h2>
            <ul>
                <li>Browse</li>
                <li>Login</li>
                <li>Register</li>
                <li>Submit</li>
                <li>Approve</li>
            </ul>
        </section>
    </div>
</main>